{% extends 'base.html' %}

{% block title %}
Редактирование пользователя
{% endblock %}

{% block content %}
<h1>Редактировать пользователя</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post" class="form-control">
    <input type="text" name="username" value="{{ user.username }}" class="form-control" required><br>
    <input type="password" name="password" placeholder="Новый пароль (оставьте пустым, если не меняете)" class="form-control"><br>
    <input type="date" name="date_of_birth" value="{{ user.date_of_birth }}" class="form-control" required><br>
    <select name="gender" class="form-control" required>
        <option value="male" {% if user.gender =='male' %}selected{% endif %}>Мужской</option>
        <option value="female" {% if user.gender =='female' %}selected{% endif %}>Женский</option>
        <option value="other" {% if user.gender =='other' %}selected{% endif %}>Другой</option>
    </select><br>
    <input type="tel" name="phone" value="{{ user.phone if user.phone else '' }}" placeholder="Номер телефона (10 цифр)" class="form-control"><br>
    <input type="email" name="email" value="{{ user.email if user.email else '' }}" placeholder="Email" class="form-control"><br>
    <select name="role" class="form-control" required>
        <option value="user" {% if user.role =='user' %}selected{% endif %}>Пользователь</option>
        <option value="admin" {% if user.role =='admin' %}selected{% endif %}>Администратор</option>
    </select><br>
    <button class="btn btn-success" type="submit">Сохранить</button>
</form>
<p><a href="{{ url_for('users') }}" class="btn btn-secondary mt-3">Назад</a></p>
{% endblock %}