{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
 <h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Facilis maiores nemo vero! Hic?</li>
<li>Cum excepturi ipsum neque quod?</li>
<li>Accusantium eius iste modi omnis.</li>
<li>Dolores molestiae nisi quis recusandae.</li>
<li>Adipisci aliquid deserunt numquam quia?</li>
<li>Doloribus eius illo officia quas!</li>
<li>Accusamus ipsam perferendis sunt tenetur.</li>
<li>Accusamus consectetur ducimus obcaecati voluptatum.</li>
<li>Animi eveniet fugiat quas repudiandae.</li>
<li>Dolor earum possimus ratione suscipit?</li>
<li>Aspernatur consequuntur dignissimos minima numquam?</li>
<li>Ab assumenda earum esse minima.</li>
<li>Ab atque error ipsam odio.</li>
<li>Adipisci aut deleniti pariatur placeat!</li>
<li>Consequatur earum enim omnis porro.</li>
<li>Doloremque facilis sint tempore velit?</li>
<li>Fuga sunt suscipit tempore unde!</li>
<li>Aliquam nisi odio placeat quaerat.</li>
<li>Illum ipsa nam quasi velit.</li>
<li>Architecto aut impedit reiciendis voluptatibus!</li>
<li>Aperiam deleniti non reiciendis tempora?</li>
<li>Aspernatur iusto libero placeat voluptate?</li>
<li>Debitis eveniet officiis unde voluptatum?</li>
<li>Dolore eum maiores sed ut.</li>
<li>Nesciunt non repellat vero voluptate?</li>
<li>Dolore eum id non omnis.</li>
<li>Assumenda numquam recusandae rerum! Fugit!</li>
<li>Officiis omnis quibusdam repellendus totam!</li>
<li>Consequatur culpa eligendi impedit quae.</li>
<li>A doloribus iste minus sunt?</li>
<li>Architecto obcaecati placeat quae quam!</li>
<li>Alias animi autem neque voluptas.</li>
<li>At eum hic quasi recusandae!</li>
<li>Dolor fugiat molestias voluptates! Quidem?</li>
<li>Atque beatae ea enim neque.</li>
<li>Asperiores illo in perspiciatis ratione?</li>
<li>Amet deleniti dignissimos iste laborum.</li>
<li>Animi, ipsa sequi. Nihil, placeat!</li>
<li>Aperiam harum mollitia sapiente voluptate!</li>
<li>Alias fuga iste iusto totam?</li>
<li>Delectus facere magni molestiae voluptates?</li>
<li>Ab error fugit neque vero.</li>
<li>Culpa deleniti eius nobis voluptate!</li>
<li>Ab deleniti ea eum nesciunt.</li>
<li>Laudantium quisquam quo sequi tempora?</li>
<li>Culpa eligendi facere optio vel!</li>
<li>Adipisci error libero reprehenderit tenetur.</li>
<li>Exercitationem molestias nihil velit voluptates.</li>
<li>Asperiores doloremque eveniet neque repellendus?</li>
<li>Doloremque est itaque labore unde.</li>
<li>Architecto corporis eos iusto magni?</li>
<li>Ipsa quae quaerat quis quisquam!</li>
<li>Dignissimos eaque laudantium omnis quam.</li>
<li>Aliquid aspernatur fuga iusto saepe.</li>
<li>Nesciunt obcaecati ratione veniam voluptatem?</li>
<li>Impedit labore omnis quibusdam voluptates.</li>
<li>Dicta fugit iure maxime obcaecati!</li>
<li>Aperiam, fugiat, omnis! Rerum, sunt!</li>
<li>Accusamus architecto asperiores delectus error.</li>
<li>Consectetur expedita facere hic natus!</li>
<li>Aliquid iusto quaerat quidem tenetur?</li>
<li>Ex excepturi in iure quaerat?</li>
<li>Cupiditate deleniti magni praesentium totam.</li>
<li>Aliquam blanditiis incidunt labore maxime.</li>
<li>Aut in praesentium quisquam repudiandae.</li>
<li>Dolores doloribus fuga libero nisi.</li>
<li>Delectus excepturi sequi tenetur vitae.</li>
<li>Aliquam mollitia placeat quos voluptas.</li>
<li>Autem consequuntur hic impedit quasi.</li>
{% endblock %}